body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.APIKey {
    width: 74ch !important;
}

.White-Text {
    color: white;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-Right {
    text-align: right;
}

.Aligner-Left {
    text-align: left;
}

.Aligner-Center {
    flex: 1;
    text-align: center;
}

.Full-Width {
    width: 100%
}

.UploadedBy {
    font-size: 11px;
}

.SuccessOrFail {
    font-size: inherit;
}

.BossName {
    color: white;
}

.AppTitle {
    font-size: 20px;
    color: white;
}

.Pointer {
    cursor: pointer;
}

.Logout-Button {
    transform: rotate(180deg);
}

.Disabled-link {
    cursor: not-allowed;
    pointer-events: none;
}

.Invite-Pending-Header {
    color: orangered;
}

.Margined-Button {
    margin: 4px
}

.General-Container {
    background-color: #21252B;
    color: white;
    padding: 30px;
    border-radius: 20px
}

.General-Container-Less-Padding {
    background-color: #21252B;
    color: white;
    padding: 16px;
    text-align: center;
    border-radius: 20px
}

.Team-Dashboard-Element {
    margin: 8px;
}

.ReportInfoElement {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Bottom-Navbar {
    clear: both;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #21252B;
}
/* Fix for an issue with nested icons in menu element*/
.Icon-In-Menu {
    position: absolute !important;
    top: 0;
    left: 4px;
    margin: 12px;
    display: block !important;
}

.Report-Uploader {
    background-color: #21252B;
    color: white;
    padding: 30px;
    margin-top: 30px;
    display: inline-block;
    border-radius: 20px;
    width: 100%;
}

.Class-Icon-In-Info {
    margin-right: 4px;
}

.Team-Data-Container {
    margin: 48px;
}

.News-Post-Body {
    width: 100%;
    margin-left: 16px;
    text-align: left;
}

.News-Post-Author-Text {
    width: 100%;
    margin-left: 16px;
    font-style: italic;
    font-size: 10px;
    text-align: right;
}